<section class="xtarz-trust">
  <div class="xtarz-container">
    {% if section.settings.heading != blank %}
      <p class="xtarz-trust__heading">{{ section.settings.heading }}</p>
    {% endif %}
    <div class="xtarz-trust__grid">
      {% if section.settings.point_1 != blank %}
        <div class="xtarz-trust__item">{{ section.settings.point_1 }}</div>
      {% endif %}
      {% if section.settings.point_2 != blank %}
        <div class="xtarz-trust__item">{{ section.settings.point_2 }}</div>
      {% endif %}
      {% if section.settings.point_3 != blank %}
        <div class="xtarz-trust__item">{{ section.settings.point_3 }}</div>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Trust Bar",
  "settings": [
    { "type": "text", "id": "heading", "label": "Heading", "default": "Why customers choose us" },
    { "type": "text", "id": "point_1", "label": "Trust point 1", "default": "Free shipping on all orders" },
    { "type": "text", "id": "point_2", "label": "Trust point 2", "default": "30-day satisfaction guarantee" },
    { "type": "text", "id": "point_3", "label": "Trust point 3", "default": "Premium materials, built to last" }
  ],
  "presets": [{ "name": "Trust Bar" }]
}
{% endschema %}
